<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277201732585-bdqd411v6m686nscqbs1082bjd54sl72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277201732585-bdqd411v6m686nscqbs1082bjd54sl72</string>
	<key>API_KEY</key>
	<string>AIzaSyAQZ2LqwQOj_mxvsjPSrJ4CLCRia24xkM8</string>
	<key>GCM_SENDER_ID</key>
	<string>277201732585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joonwon.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-e26a7</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-e26a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277201732585:ios:3463c88b07aa2fc7770178</string>
	<key>DATABASE_URL</key>
	<string>https://mynetflix-e26a7.firebaseio.com</string>
</dict>
</plist>